{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="bg-cyan-600 font-poppins relative">
    <header>
        <p class="font-bold text-lg">erikweb.nl</p>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>