{% extends 'base.html' %}
{% load static %}

{% block title %}De Groene Zon - erikweb{% endblock %}

{% block content %}

<div class="flex flex-col bg-cyan-600 bg-opacity-90 gap-4 text-white px-8 mx-auto max-w-xl mt-4">
    <p class="font-semibold text-2xl mt-4">De Groene Zon</p>
    <p>auteur: Erik Grootoonk, zomer 2023</p>

    <p class="font-semibold text-lg">Het park</p>
    <p>
        Samuel ligt op zijn rug en kijkt naar de hemel. Het gras voelt zacht, de
        wind ruist door bomen. De zon schijnt haar groenige licht op z'n
        gezicht. Net als ieder jaar gaat Samuel naar het park. Vroeger stond
        hier de bioscoop, de plek waar hij eens zijn verjaardag vierde. Zijn
        gedachten drijven relatief langzaam voorbij. Samuel houdt ervan om zijn
        verjaardag alleen te vieren in dit park. Dit is een bijzondere dag voor
        Samuel die hij graag in zijn eentje doorbrengt.
    </p>
    <p>
        Er komt iemand aanlopen. Het is een vrouw van rond de veertig. Ze heeft
        kort rood haar, ze draagt bonte sneakers, een spijkerbroek met daarboven
        een bloesje. Ze kijken elkaar aan en er is een onderzoekende blik of ze
        elkaar kennen. Samuel zegt hallo en zij zegt hoi. Ze gaat een eindje
        verderop zitten en zet een grote tas naast zich neer. Samuel probeert
        weer zijn gedachten te vertragen, maar dat gaat op één of andere manier
        niet. Samuel weet wel waarom natuurlijk. Wanneer er een enigszins
        aantrekkelijke vrouw in de buurt komt, is het gedaan met de langzame
        gedachten. Dan gaat zijn aandacht onvermijdelijk in haar richting.
    </p>

    <p>
        Vooralsnog is het rustig hier en is er nog maar één woord gewisseld. Nu
        is Samuel meestal niet degene die een gesprek begint, je zou kunnen
        zeggen dat Samuel een afwachtend type is. Meestal ontbreekt het aan
        onderwerpen waar je het redelijkerwijs over zou kunnen hebben. Dat is
        vandaag niet anders en hij doet er het zwijgen toe. Na een tijdje staat
        de vrouw op en loopt naar het muurtje. Ze loopt er omheen en bekijkt het
        ding van alle kanten. "Samuel" zegt ze, "wil je me even helpen?"
        Verbouwereerd staat Samuel op en loopt naar haar toe. "Het idee is dat
        we de steen die voor het muurtje ligt een stukje opzij te schuiven",
        zegt ze. "Dan kan ik voelen of er iets onder ligt."
    </p>

    <p>
        Ze kijkt om zich heen of niemand hen ziet, maar het park is verder
        verlaten. Ze haalt een grote koevoet uit haar tas en wrikt die onder de
        steen. Ze duwt en trekt zo hard mogelijk, maar de steen heeft geen zin
        aan actie. "Waar is ze eigenlijk mee bezig en wie is deze vrouw" vraagt
        Samuel zich af. Het lukt haar niet beweging te krijgen in de steen, en
        Samuel gaat aan de koevoet hangen en er komt zowaar iets beweging in.
        Ook de vrouw zet haar gewicht in en de steen komt omhoog. Samuel gaat op
        de koevoet staan. "Houd je dat?", vraagt ze. Samuel knikt. Ze graaft met
        haar handen in het zand onder de steen en er lijkt inderdaad iets onder
        te liggen. "De steen moet helemaal opzij" zegt ze, "volgens mij ligt er
        iets groots onder." Ze pakt nog een koevoet en het lukt hun de steen
        stukje voor stukje aan de kant te schuiven. Ze pakt een schepje uit haar
        tas en begint de aarde weg te scheppen. Het is eigenlijk maar een klein
        laagje, dan komt een ijzeren luik tevoorschijn. Deze blijkt omhoog te
        kunnen klappen. In het gat eronder zien ze een trap. "De verhalen
        kloppen dus", zegt ze. De kelder van de oude bioscoop bestaat nog. Ze
        laat het luik weer dicht vallen. "Voordat we aan de volgende fase
        beginnen", zegt ze, "eerst even pauze." "We hebben elkaar eerder
        ontmoet", begint ze. "Ik heet Marian, het is al lang geleden, en ik kan
        me voorstellen dat je je het niet herinnert.""Heb je zin in een kopje
        thee?", vraagt ze . "We zijn vandaag allebei jarig, laten we het dan ook
        maar vieren." Ze haalt een thermosfles tevoorschijn en daarbij twee
        kopjes. Je zou bijna gaan denken dat ze ontmoeting heeft voorbereid. De
        thee is groen van kleur en ruikt naar bloemen. Daarnaast heeft ze twee
        stukken worteltaart meegenomen. Samuel: "Dat lust ik wel, worteltaart is
        mijn lievelingstaart".
    </p>

    <p>
        "Het was hier", gaat Marian verder, "je was 9 jaar en het was een kleine
        gebeurtenis voor de meeste mensen. Weet je nog dat je op je verjaardag
        's middags naar de film “Waiting for the sun” ging en dat toen het licht
        een tijdje uitging? Er ontstond toen enige onrust en een aantal mensen
        riepen van allerlei dingen en wilden uit de zaal gaan. Voor het uit de
        hand kon lopen, ging de film plotseling weer verder. Jij was de enige
        die merkte dat het een andere film was. Je probeerde het je moeder te
        vertellen, hoorde ik, maar die lachte en zei dat het onzin was. Typisch
        iets voor jou om zoiets te verzinnen. Klopt dat?" Samuel kan zich het
        voorval zeker herinneren. Samuel: "Ik vond het raar dat niemand merkte
        dat er een andere film speelde." "Dat vond ik destijds ook", zegt ze.
        "Ik zat in de zaal, schuin achter je. Ik ben na de film nog naar boven
        gegaan om te vragen of er iets vreemds gebeurd was met de film, maar ze
        wilden me niet naar binnen laten. Toen ben ik maar weggegaan, ik liet me
        destijds nogal makkelijk wegsturen. Maar het liet me niet los. Vooral
        omdat ik het idee had dat alles veranderd was. De kleur van de huizen,
        de auto's de zon en de lucht. De zon heeft toen een groenige tint
        gekregen. Is jou dat ook opgevallen?" Samuel knikt. "In de weken erna
        bleef ik me afvragen hoe jij de wereld zag, zoals die geworden was." "Ik
        ben daarom naar de bioscoop gegaan en gevraagd of er op 18 juni een
        kinderfeestje was en hoe het kind heette en heb zo je naam kunnen
        achterhalen." "Jullie stonden niet in het telefoonboek, er was nog geen
        internet. Na een tijdje heb ik het zoeken opgegeven en het geprobeerd
        uit mijn hoofd te zetten." "Een jaar later, vlak voor onze verjaardag is
        de bioscoop afgebrand en nooit meer opgebouwd. De gemeente heeft er toen
        een parkje van gemaakt. Het muurtje is het laatste overblijfsel van de
        bioscoop. Wat zou het mooi zijn wanneer alles weer een mooie, heldere
        kleur zou hebben, zonder dat groenige filter erover dat alles vlak
        maakt." Ze last een pauze in, om even na te denken. Ze trekt daarbij aan
        haar linker oorlelletje. Ze kijkt naar iets in de verte en daarna weer
        naar mij.
    </p>

    <p>
        "Onder het luik dat we net openden zit dus de kelder van de oude
        bioscoop", gaat ze verder. "Hier bewaarden ze vroeger de filmrollen en
        met een beetje geluk staat ook de film die we destijds gezien hebben er
        ook." "Maar hoe wist je dit ik hier zou zijn?", vraag Samuel. "Een
        voorgevoel", zegt ze, "omdat ik denk dat jij ook een beetje verloren
        bent in deze wereld en terug wilt naar de wereld met de echte kleuren."
        Samuel: "Ik heb hier nooit meer over gesproken, omdat niemand gemerkt
        heeft dat de wereld veranderd was. Toch was er elk jaar de herinnering
        aan de bewuste verjaardag. Iets dreef me elke verjaardag naar deze
        plek."
    </p>

    <p>
        Wanneer de thee op is, stelt Marian voor om samen verder in die kelder
        te gaan kijken. Ze openen weer het luik en Marian gaat voor. Ze gaat de
        trap af, er ligt wat puin op de treden, maar verder is het goed
        begaanbaar. Het is aardedonker daar beneden en ze beschijnen de muren
        met een zaklantaarn die Marian meegenomen heeft. Ze heeft op haar
        telefoon een plattegrond van de oude bioscoop en ze zoeken naar een deur
        die naar de opslagplaats gaat. Er staan nog wat kratten met lege flessen
        en nog kokers met waarschijnlijk filmposters. "Daar is de deur", zegt
        Samuel. Ze komen in een ruimte die vol staat met kisten. Op de kisten
        staan namen van films. Het lijkt erop dat ze op alfabetische volgorde
        staan en ze moeten dus ergens achter in de ruimte zijn.
    </p>

    <p>
        En ja hoor, hij staat erbij: "Waiting for the sun". "Ja dat is 'm,
        geweldig" roept Marian. Ze tillen de kist op en dragen 'm de trap op en
        naar een dicht bijstaande Renault Twingo, in een bijzondere gele kleur.
        Het is een kleur die Samuel aan vroeger doet denken. De achterbank is al
        neergeklapt. Ze zetten de kist achterin, Marian gooit een doek erover en
        sluit de achterklep.
    </p>

    <p>
        Ze gaan terug naar het luik, scheppen er weer wat aarde over en wrikken
        de steen weer terug. Je ziet bijna niet dat ie van z'n plek geweest is.
        Samuel: "En wat nu?" "Wat denk je ervan om samen onze verjaardag te
        vieren en dan zal ik mijn theorie verder uitleggen, al klinkt dat alsof
        er een groots plan achter zit. Het is meer een ingeving.
    </p>

    <p>
        Samuel kan het niet laten haar even aan te raken, dat moet gewoon even
        gebeuren. Ze heeft geen bezwaar hiertegen.
    </p>

    <p class="font-semibold text-lg">De film</p>
    <p>
        Marian woont in een appartement in de stad. Het is in een jaren vijftig
        flatgebouwtje. Aan de wand hangen enkele film-affiches. Op tafel staat
        een vaas met bloemen voor haar verjaardag (dit is een aanname van
        Samuels kant), het is grote bos gele tulpen. Rond de tafel staan 4
        verschillende stoelen, allemaal in heldere kleuren. Wat wil je drinken?
        Heb je wijn? Ze pakt een fles uit de kast en schenkt een glas in. Is er
        iets dat je niet lekker vindt? Samuel: "Ik lust alles, maar ik houd
        vooral van Aziatisch eten." "Mooi, je kunt me even helpen met het koken,
        dan kunnen we ondertussen even verder praten. Wat gaan we maken? Wat
        dacht je van een Indiase Curry?" "Goed plan", zegt Samuel. Ze begint
        groente en tofu te snijden, Samuel gaat op zoek kruiden. "In de koelkast
        staat een bakje kruidenpasta, die heb ik deze week nog gemaakt. Kun je
        ook gebruiken." Samuel doet de kruidenpasta in de pan gooit de gesneden
        groente erbij. Daarnaast nog tomatensaus en een beetje kokosmelk.
        Ondertussen zet Marian de rijst op. "Wat doe jij eigenlijk als
        tijdsbesteding" vraagt Marian. "Ik studeer elektrotechniek en zit in het
        laatste jaar", zegt Samuel. En jij? Marian: "Ik ben docent media aan het
        stadscollege." "Ik heb eigenlijk de filmacademie gedaan, maar ja, je
        moet ergens je geld meeverdienen." "Dit kwam op mijn pad en het is
        eigenlijk erg leuk om te doen. Jongeren zijn meestal wel te porren voor
        het maken van een filmpje en hebben ook een mening over de huidige films
        die draaien. Dat is vaak een mooie aanleiding om dieper op de materie in
        te gaan." Het eten is klaar en ze dekken de tafel en schenken nog een
        glas wijn in. Ze klinken op hun verjaardag en tasten toe. "We zijn
        eigenlijk een goed team, qua koken" merkt Samuel. "Vier jij je
        verjaardag ook altijd alleen", vraagt Samuel. "Eh ja, eigenlijk wel."
        "Meestal houd ik later een feestje, maar de dag zelf besteed ik het
        liefst alleen." "Maar jouw gezelschap kan er wel mee door." "En bedankt"
        grinnikt Samuel. Daarnaast had ik vandaag zoals je gemerkt hebt, een
        missie." De kist die we vandaag opgegraven hebben, bevat hopelijk de
        film die we destijds gekeken hebben, dat wil zeggen de film voor de
        blackout. Daarnaast hoopte ik dat jij er ook zou zijn, omdat het
        belangrijk is voor het vervolg van het project." Samuel begint een
        vermoeden te krijgen waar ze op aanstuurt. "Zou het kunnen zijn dat je
        de film wil gaan kijken met mij en zien wat er gebeurt?" Ze glimlacht
        schalks en zegt: "zoiets ja".
    </p>
    <p>
        Ze eten Kulfi als dessert. Een heerlijk Indiaas toetje. Het ijs is romig
        en zoet, met amandelen, pistache en kardemom. Ze wassen snel even af en
        daarna is het grote moment aangebroken. Na enig wrikken gaat het blik
        open. Er zit inderdaad een filmrol in. Ze kijken een paar beeldjes van
        het begin van de rol voor een lamp maar kunnen niet direct zien of het
        de goede film is. Hij is in ieder geval niet beschadigd. "Nu moeten we
        nog een filmprojector vinden die dit formaat film kan afspelen", zegt
        Samuel. Marian: "Precies meneer , dat is de bedoeling". "Hebben ze bij
        jou op school niet zo"n ding?" "Nee, die spullen zijn bij eerdere
        opruimacties verkocht." We moeten dus op zoek naar zo"n projector en we
        hebben een doek nodig waar het op geprojecteerd kan worden. Misschien
        heeft het filmhuis nog wel zo"n apparaat?" Ze spreken af dat Samuel deze
        week nog gaat informeren. Ze wisselen hun telefoonnummers uit en Samuel
        belooft haar z.s.m. een berichtje te sturen over de vorderingen. Samuel
        voelt zich thuis bij Marian en verheugt zich al haar nog eens te zien.
        Wanneer Samuel opstaat om te vertrekken en zijn jas aan doet, geeft
        Samuel haar voor hij zich kan bedenken, gauw een zoen. Met zijn hoofd in
        de wolken fietst Samuel naar huis.
    </p>
    <p class="font-semibold text-lg">Marian</p>
    <p>
        Marian is overrompeld door de gebeurtenissen vandaag. Ze heeft het van
        tevoren wel een beetje uitgedacht, maar zo"n resultaat had ze ook niet
        verwacht. En dan die Samuel. "We schelen 10 jaar, maar volgens mij vindt
        ie mij leuk", denkt ze. "Mag ook wel eens weer een keer. Het is een
        tijdje geleden dat ik een leuke jongen tegen kwam."
    </p>
    <p class="font-semibold text-lg">Het filmhuis</p>
    <p>
        Samuel belt een aantal filmhuizen, maar de meesten zijn sinds 2012 met
        overheidssubsidie overgestapt naar digitaal en hebben hun analoge 35mm
        projector weggedaan. Maar gelukkig zijn er nog een aantal die er één
        hebben. Hij appt Marian, dat ze aanstaande woensdag terecht kunnen bij
        Luxus in Nijmegen. Dan mogen ze de film vertonen. Marian kan zich
        bedwingen om direct Samuel te bellen, maar 's avonds is het zover.
        Samuel vertelt over zijn speurtocht en dat het toch nog redelijk
        dichtbij gelukt is. Ze spreken af dat Marian woensdag om 14:00 bij Luxus
        staat met de kist. Woensdagmiddag staat Marian en even later Samuel voor
        de deur bij Luxus. Ze bellen aan en een enthousiaste dame ontvangt hen.
        "Hoi ik ben Yvonne, jullie komen om de film af te spelen, klopt dat?"
        "Ja, dat zijn wij", zegt Marian. "Geweldig dat we bij jullie terecht
        kunnen". "Geen probleem", zegt Yvonne. "Loop maar achter me aan, dan
        bekijken we eerst wat jullie in die kist hebben". Ze maken de kist open
        er zitten een aantal rollen in. Yvonne bekijkt de markeringen op de
        rollen en ziet in welke volgorde ze afgespeeld moeten worden. "Ok, hoe
        willen jullie het, moeten deze stukken apart afgespeeld worden?" "Nee,
        zegt Marian, het is belangrijk dat de hele film in één keer afgespeeld
        wordt." "Ok", zegt Yvonne, "ga maar in zaal 1 zitten, dan zien jullie de
        film wel beginnen. Willen jullie er iets te eten bij? Dat hoort
        eigenlijk wel... Er wordt een doos popcorn vol geschept en het feest kan
        beginnen. Ze gaan in de zaal zitten, en de film start. Er komen weer
        herinneringen boven bij beiden en de film is eigenlijk gewoon, behalve
        dat er regelmatig een shot van de zon in verschijnt, in de originele,
        gele kleur. Na vijfenveertig minuten komt het moment waar de vorige keur
        de film stopte. Er is een lichte flikkering te zien en Marian knijpt,
        zonder dat ze het door heeft in Samuels hand. Samuel kijkt ook
        gespannen. Dan speelt de film door en zien ze hoe de film eigenlijk
        verder ging. Het verhaal gaat over een groep muzikanten die in de
        woestijn overnachten om de zonsopgang mee te kunnen maken in haar meest
        pure vorm. Ze missen bijna het moment omdat ze niet wakker kunnen
        blijven en te stoned zijn. Uiteindelijk gaat het nog net allemaal goed
        en maken ze een vreugdedansje. Wanneer de film afgelopen is, rennen
        Marian en Samuel naar buiten om te kijken of er iets veranderd is. Maar
        het is nog steeds een doodgewone woensdagmiddag in een groenig zonnetje.
        "Shit", zegt Marian. "Zie je of er iets veranderd is, Marian?" "Nee, de
        kleur van de zon en dus alle zichtbare dingen is nog steeds hetzelfde."
        Jammer, leuk geprobeerd, zegt ze. Samuel lukt het nog om redelijk
        neutraal te blijven, maar hij had ook eigenlijk verwacht dat er wel iets
        zou gebeuren. Yvonne van het filmhuis komt naar beneden en vraagt "Nou,
        hoe was de film, was het wat je ervan verwachte?" Marian en Samuel zijn
        een beetje stil. "Wat is er gebeurd, jullie kijken een beetje sip".
        Marian voelt zich een beetje lullig, omdat het misschien wat vergezocht
        is waar ze in gelooft. Maar Yvonne geeft niet zo snel op en eist dat ze
        precies vertellen wat er gebeurd is en wat ze hopen dat er gebeurt.
        Marian vertelt het hele verhaal nog eens, maar nu met de aanvulling van
        de zon erbij. Yvonne: "Dat is een maf verhaal, maar wel erg leuk. Laat
        me eens meedenken… Waar werd de film destijds afgespeeld? Wat als de
        locatie ook belangrijk is voor het effect?" "Tja, zou kunnen", zegt
        Marian. "Maar hoe? Er staat niets meer van het gebouw." Samuel
        aarzelend: "Wat als we nu een openluchtvoorstelling organiseren en de
        film afspelen op de oude plek als evenement?" Yvonne: Ja doen! Ik weet
        misschien een verhuurbedrijf die deze apparaten verhuurd. Dan
        organiseren we een filmavond op locatie." "Ok, dat klinkt niet eens zo
        raar, eigenlijk best goed", zegt Marian. Ze bespreken nog wat er
        gebeuren moet en worden allemaal enthousiast. De film wordt weer
        opgeborgen en in de kist en achter in de auto gezet. Marian en Samuel
        bedanken Yvonne, en rijden weer naar hun stadje. Yvonne zwaait ze uit,
        "Tot gauw, Ciao"
    </p>

    <p class="font-semibold text-lg">Het festival</p>
    <p>
        De weken erna zijn intensief en soms zenuwslopend omdat het niet
        eenvoudig is een buitenactiviteit te organiseren. Je moet een vergunning
        hebben, en dan nog de stoelen, elektriciteit en nog veel meer. Yvonne
        heeft gelukkig enige ervaring met het organiseren van festivals en de
        gemeente is na veelvuldig overleg akkoord gegaan, als try-out, mits ze
        zelf de helft van de kosten dragen. Ze proberen de kosten zo laag
        mogelijk te houden, door veel zelf te doen en vrienden en bekenden in te
        schakelen. Na twee maanden is het dan zover en kan het plaatsvinden. De
        pers heeft een mooi stukje in de lokale krant geschreven en nu maar
        hopen dat er mensen op afkomen en dat het droog blijft. De dag voor het
        festival regent het pijpenstelen en de moed zakt hen in de schoenen.
        Maar op de dag zelf is het droog en er schijnt zelfs een mager vaal
        groenig zonnetje. De voorstelling begint pas om 22:00 uur omdat het
        donker moet zijn, maar gelukkig is de maan al zichtbaar die net als de
        zon een groenig licht weerkaatst. De mensen komen al vrij vroeg en de
        bar loopt uitstekend. Het is weer eens wat anders dan de gebruikelijke
        activiteiten in de stad. Om tien uur is het dan zover, de film kan
        beginnen. Marian, Samuel zitten tussen het publiek, Yvonne bedient de
        filmprojector. Na 45 minuten is het punt waar het de vorige keer donker
        werd en even flitste. Het wordt inderdaad even donker, het flakkert even
        maar wat er dan gebeurd is geweldig voor Marian en Samuel, maar de film
        draait gewoon door en het publiek lijkt niets te merken. Marian en
        Samuel kijken omhoog naar de maan en ja hoor: Hij is wittig geel. Marian
        en Samuel slaken allebei een kreet. Een aantal mensen kijken even om,
        maar kijken dan weer onverstoord verder naar de film. Samuel en Marian
        kunnen nauwelijks geloven dat het gelukt is, maar het feit is daar: De
        maan en dus waarschijnlijk ook de zon heeft weer z'n oorspronkelijke
        kleur. Wanneer de film afgelopen is komt het trio bij elkaar en Yvonne
        zegt: "Volgens mij ging het nu een stuk beter, of niet?" Wat denk je
        zelf", zegt Marian en slaat de armen om haar en Samuel heen. De mensen
        blijven nog lang hangen en de consumpties van de bar blijven komen.
    </p>
    <p>
        Op een gegeven moment zegt Samuel: "Marian, wat denk je ervan? Zullen we
        naar mijn huis gaan en daar samen de zonsopgang afwachten?" Marian kijkt
        even verbaasd, zoveel initiatief had ze niet verwacht, wat een boefje,
        maar aan de andere kant: Geen slecht idee, eigenlijk een heel goed idee.
        Ze lopen samen door de nacht naar huis en zien na een gezellige nacht
        waarin niet veel geslapen wordt de zon opgaan in al haar gouden glorie.
    </p>

    <a href="{% url 'verhalen' %}" class="font-semibold text-lg">Lees meer
        verhalen...</a>

</div>
{% endblock %}
