{% extends 'base.html' %}

{% block title %}Verhalen- erikweb{% endblock %}

{% block content %}
<div class="flex flex-col bg-cyan-600 bg-opacity-90 gap-4 text-white px-8 mx-auto max-w-xl mt-4">
    <p class="font-semibold text-2xl mt-4">De Groene Zon</p>
    <p>auteur: Erik Grootoonk, zomer 2023</p>

    <p class="font-semibold text-lg">Het park</p>
    <p>
        Samuel ligt op zijn rug en kijkt naar de hemel. Het gras voelt zacht, de
        wind ruist door bomen. De zon schijnt haar groenige licht op z'n
        gezicht. Net als ieder jaar gaat Samuel naar het park. Vroeger stond
        hier de bioscoop, de plek waar hij eens zijn verjaardag vierde. Zijn
        gedachten drijven relatief langzaam voorbij. Samuel houdt ervan om zijn
        verjaardag alleen te vieren in dit park. Dit is een bijzondere dag voor
        Samuel die hij graag...
    </p>

    <a href="{% url 'de_groene_zon' %}" class="font-semibold text-lg"> Lees
        verder...</a>
{% endblock %}
