{% extends 'base.html' %}

{% block title %}Weird - erikweb{% endblock %}

{% block content %}
<div class="container mx-auto p-6">
    <div class="tumblr-post"
        data-href="https://embed.tumblr.com/embed/post/t:lFiFKda504XxDOt4yhDHFA/758565540580196352/v2"
        data-did="4f5174cfe7abaa9a67c7a362a230e3f84042f912"><a
            href="https://www.tumblr.com/immortalbeingz/758565540580196352">https://www.tumblr.com/immortalbeingz/758565540580196352</a>
    </div>
    <script async src="https://assets.tumblr.com/post.js?_v=38df9a6ca7436e6ca1b851b0543b9f51"></script>

</div>


<div class="flex flex-col bg-cyan-600 bg-opacity-90 gap-4 text-white px-8 mx-auto max-w-xl mt-4">

    Paleolithic emotions, medieval institutions and god-like technologies...what could go wrong?

</div>
{% endblock %}